
* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    list-style:none;
    
    }

:root{

--text-color: #000000ff;
--bg-color: #0040B9ff;
--cta-color: #EF7E22ff;
--big-font:3.5rem;
--p-font:1rem;
--cta-text:#fff;


}

body{
    
    color:var(--text-color);
}
 header{

width:100%;
top:0;
right:0;
padding:32px 8%;
z-index:100;
display:flex;
align-items: center;
justify-content: space-between;
transition: all 0.5s ease;

 }

 .logo {
    width: 104px;
    height: 78px;
 }

 .navlist{
    display:flex;
 }

 .navlist a{
   text-decoration: none;;
    display:inline-block;
    margin:0 32px;
    color:var(--text-color);
    font-size:var(--p-font);
    transition:all 0.6s ease;
 }

 .navlist a:hover{
    color:var(--cta-color);
 }
 .right-content{
   display:flex;
   align-items:center;
 }
 .nav-btn{
   text-decoration: none;
 display:inline-block;
 padding:8px 24px;
 background:transparent;
 border:2px solid var(--cta-color);
 border-radius:7px;
 font-size: 15px;
 font-weight:500;
 transition:all 0.6s ease;
 }

 .nav-btn:hover{
   transform: scale(1.1);
 }
   
 #menu-icon{
   font-size:42px;
   z-index:10001;
   cursor:pointer;
   margin-left:24px;
   display:none;

 }
 
 section{
   padding:0 16%;
 }

 .hero{

position:relative;
width:100%;
display:grid;
grid-template-columns:repeat(2, 1fr);
align-items: center;
gap:2rem;
 }

.hero-image{
width:100%;
height:auto;

 }

 .hero-text{
translate:transformY(-30%);

 }

 .hero-text h1{
   font-size: var(--big-font);
   font-weight:900;
   margin:15px 0;
   color:var(--bg-color);
 }

 .typing span{
   color:var(--cta-color);
 }


 .hero-text h5{
   font-size:16px;
   font-weight:600px;
   letter-spacing:1px;
   color:var(--bg-color)
 }

 .hero-text p{
   width:100%;
   max-width:620px;
   font-size:var(--p-font);
   font-weight: 400;
   line-height: 32px;
   color:var(--text-color);
   margin-bottom:32px;
 }
 .main-action{
   display:flex;
   align-items:center;

 }
 .cta-btn{
   text-decoration: none;
   display:inline-block;
   padding:8px 24px;
   background:transparent;
   border:2px solid var(--cta-color);
   border-radius:7px;
   font-size: 15px;
   font-weight:500;
   transition:all 0.6s ease; 
   margin-right:20px;
}

.cta-btn:hover{
   transform: scale(1.1);
}
.price{
   display:flex;
   align-items:center;
   font-size:28px;
   font-weight:bold;
   color:var(--bg-color);

}
.price span{
   font-size:17px;
   font-weight:400px;
   color:var(--cta-color);
   margin-left:10px;
}

@media(max-width:1770px){

   header{padding : 22px 4%;}
}
@media(max-width:1670px){
   :root{
      --big-font:3.5rem;
      --p-font:16px;
   }
}
@media(max-width:1370px){
   section{padding : 0 4%; }

}
@media(max-width:1150px){
   :root{
      --big-font: 4.5rem;
   }
      .price{font-size:20px;}
      .btn{padding:8px 20px;}
   }
   

   @media(max-width:950px){
     .menu-icon
     { display:block;}
     .navlist{
      position:absolute;
      width:100%;
      height:100vh;
      padding :100px 50px;
      top:0;
      right:0;
      bottom:0;
      left:100%;
      display:flex;
      flex-direction:column;
      backdrop-filter: blur(32px);
      transition:all 0.6s ease-in-out;
      z-index: 999;
      background-color: #363b3f;
      box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    
    
     }
   .navlist a {
 display:block;
 padding:0;
 margin:0px 0px 25px 0px;
 font-size:1rem;
   }
 navlist.open{
   left:0;
 }
     }
 @media(max-width:920px)
     {
.hero{
   grid-template-columns: 1fr;
   height:auto;
}
.hero-text{
   padding-top:32px;
}
.hero-img{
   height:500px;
   width:500px;
   margin: 0 auto;
}
.hero-img img{
   width:100%;
   height:100%;
  object-fit:contain; 
}
     }
     @media(max-width:570px){
      .hero{height:100vh;}
      .hero-img {
         width:400px;
         height:400px;
        margin: 0 auto; 
   }
   :root{
      --big-font:2.5rem;
   }
     }
     @media(max-width:440px){

      :root{
         --big-font:2.5rem;
      } 

      .hero-text h5{
         font-size:15px;
      }
      .hero-img{
         height:360px;
         width:360px;
         margin: 0 auto;
      }

     }

   